body,
h1,
h2,
h3,
p,
canvas,
section {
  display: block;
}

body {
  line-height: 1.2;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #aeaeae;
  font-size: 18px;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3em;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 0.1em;
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2em;
  line-height: 1.2;
  font-weight: normal;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: lighter;
}

p {
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: normal;
}

canvas {
  display: block;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
}

/* unvisited link */

a:link {
  color: #4062bb;
}

/* visited link */

a:visited {
  color: #006853;
}

/* mouse over link */

a:hover {
  color: #aeaeae;
}

/* selected link */

a:active {
  color: #4062bb;
}

@media only screen and (min-width: 640px) {
  body {
    font-size: 24px;
  }
}

@media only screen and (min-width: 960px) {
  body {
    font-size: 28px;
  }
}
